/*---------
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
----------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h1.h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
}
/* ==== navigation starts here css ====  */
.social-media {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 200px;
  position: fixed;
  z-index: 100;
}
.social-media ul {
  list-style-type: none;
}
.social-media ul li a {
  text-decoration: none;
  font-size: 60px;
  color: #000;
  border-radius: 50%;
}
.social-media ul li a:hover {
  color: blueviolet;
}
.navbar{
  position:fixed;
  z-index:999;
  width:100%;
  background:#001d38;
}
.banner {
  background: url("../img/background.png");
  background-repeat: no-repeat;
  width: 100%;
  height:800px;
  background-size: cover;
  position: relative;
}
.banner-about{
  background: url("../img/background.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative; 
}

.header img {
  width: 100px;
  height: 40px;
  opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 10px 40px;
}
.nav-link {
  display: block;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.head-nav {
  text-align: right;
}
.head-nav a:hover:before {
  width: 100%;
}
.head-nav a {
  color: #666666;
  font-size: 27px;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
  margin: 0 6px;
}
.navbar-toggler-icon {
  background-color:#fff;
}
.navbar-nav .nav-item .nav-link:hover {
  color:#fff;
  background-color: #7743e0;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color:#fff;
}
.head-nav a:before {
  content: "";
  height: 3px;
  width: 0;
  background: #ffa23e;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 21rem;
  margin: 0;
  font-size:20px;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #fff;
  padding:0px 0px;

  border-top:0;
  border-bottom:0;
  
}
.dropdown-item{
  height:60px;
}
.banner-img {
  display: flex;
}
.banner-left {
  width: 700px;
}
.banner-img1 img {
  width:500px;
  height:500px;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 250px;
  z-index:99;
}
.banner-img2 img {
  width: 300px;
  height: 200px;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  right: 250px;
}
.banner-about .about-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  z-index:100;
  
}
.banner-about .about-text h2{
color:#fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #121212;
  text-align: center;
  letter-spacing: 10px;
  text-shadow: -1px 1px 0 #41ba45,
          1px 1px 0 #c63d2b,
         1px -1px 0 #42afac,
        -1px -1px 0 #c6c23f;
}
.banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  z-index:100;
}
.banner-text h1 {
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  line-height: 70px;
}
.banner-text-2 span {
  display: inline-block;
  width: 50px;
  height: 2px;
  background: #fff;
  margin-bottom: 8px;
  margin-right: 15px;
}
.banner-text-2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
/* ==== navigation End  here css ====  */

/* ==== service section starts here ====  */
.service-head {
  text-align: center;
}
.service-head .text-1 span {
  margin-top: 100px;
  display: inline-block;
  width: 3px;
  height: 60px;
  background: blueviolet;
  margin-bottom: 8px;
  margin-right: 15px;
}
.service-head .text-1 p {
  font-size: 40px;
  padding: 10px 0;
  color: #ddd;
}
.service-head h1 {
  font-size: 60px;
  color: blueviolet;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.text-box {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

}
.text-box .box-1 {
  flex-basis: 32%;
}
.box-1 {
  text-align: center;
  border: 1px solid blueviolet;
  padding: 10px;
  transition: all 0.5s ease;
}
.box-icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  color: #fff;
  background-color: #ff5421;
  font-size: 30px;
  padding-top: 18px;
  text-align: center;
  margin-left: 150px;
}
.box-icon a {
  text-align: center;
}

.box-1 h2 {
  padding-top: 25px;
  color: red;
  font-weight: bold;
  font-size: 40px;
}
.box-1 p {
  line-height: none;
  padding: 0 10px;
  font-size: 20px;
}
.box-1:hover {
  background: #ffa23e;
  box-shadow: 2px 2px 10px 2px;
}
/* ==== service section starts here ====  */

/* ==== protfilo section strats here ====  */
.protfilo-head {
  margin-top: 100px;
  background: #001d38;
  width: 100%;
  text-align: center;
}
.protfilo-head h2 {
  padding-top: 100px;
  color: #fff;
}
.protfilo-head h1 {
  color: #fff;
  font-size: 40px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.img-area-1 {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  height:auto;
 
}
.img-area-1 .img-1 {
  flex-basis: 48%;
  height:auto;
  display:block;
  position:relative;
}
.img-area-1 .img-1 img {
  width: 100%;
  height: auto;
  z-index: 10;
}

.protfilo-bottom{
  margin-top:80px;
  display:flex;
  justify-content: space-between;
}
.image-2{
  flex-basis:32%;

}
.image-2 img{
  width:100%;
  height:auto;
}
.protfilo-button {
  margin-top: 50px;
  text-align:center;
}
.protfilo-button .button {
  color: #7743e0;
 
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #7743e0;
  padding: 20px 40px;
  position: relative;
  height: 100%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}
.protfilo-button .button:hover {
  background: #7743e0;
  color: #fff;
}


/* ==== protfilo section End  here ====  */
/* ==== about section starts here ==== */
.about{

}
.about-section {
  display: flex;
  justify-content: space-between;
}
.about-left {
  flex-basis: 65%;
  background: #fff;
  margin: 30px 0px;
  padding: 15px 30px;
  box-shadow: 0px 0px 20px -8px rgb(0 0 0 / 20%);
}
.about-left h2,
.abput-right h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
.about-left p {
  font-size: 25px;
}
.about-left span {
  display: block;
  font-size: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #2e1e5f;
  padding: 30px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.abput-right {
  flex-basis:25%;
  background: #fff;
  margin: 30px 0px;
  padding: 15px 30px;
  box-shadow: 0px 0px 20px -8px rgb(0 0 0 / 20%);
}
.abput-right img {
  width: 100%;
  height: auto;
}
.progress {
  font-size: 20px;
  height: 40px;
  background: #2e1e5f;
  text-align: center;
}
form {
  width: 100%;
}
form input {
  display: block;
  width: 100%;
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background: #ddd;
}
form textarea {
  font-size: 30px;
  width: 100%;
  border: none;
  background: #ddd;
}
.button {
  width: 200px;
  background: #fff;
  border: 1px solid #7743e0;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.5s ease;
  margin-top: 50px;
  margin-bottom: 50px;
}
.button:hover {
  background: #7743e0;
}
.my-self h2 {
  padding: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.my-self ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.my-self ul li {
  font-size: 25px;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 10px 0;
  margin-left: none;
  margin: 0;
}
.my-self ul li:hover {
  color: #7743e0;
}
.social-account {
  text-align: center;
  
}
.social-account a {
  color: #7743e0;
  font-size: 60px;
  padding: 0px 5px;
}
.social-account a:hover {
  color: aqua;
}

/* === about section End here ====  */
/* ==== project section start here ====  */
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:15px;
  padding: 10px;
  text-align:center;
  margin-top:50px;
  margin-bottom:50px;

}
.column{
  border:1px solid #7743e0;
  padding:50px 0px;
}
.column h1{
  font-weight:600;
  color:#7743e0;
}
.column p{
  font-weight:400;
  color:#7743e0;
}
/* ==== project section End  here ====  */

/* ==== owa carosule section start here ====  */
.owa-carousel{
  background: url("../img/banner.png");
  height:700px;
}

.carousel-item{
  padding-top:150px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  border-radius:50%;
  border:1px solid red;
}
.carousel-item img{
  height:150px;
  width:150px;
  border-radius:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  
}
.carousel-item p{
  color:#fff;
  text-align:center;
  font-weight:500;
}
.carousel-item h1{
  text-align:center;
  color:red;
}
/* ==== owa carosule section End here ====  */

/* ==== footer section starts here === */
.footer{
  background:#001d38;
  width:100%;
  height:auto;
  padding-bottom:30px;
}
.qursetion-footer{
  padding-top:50px;
  padding-bottom:100px;
  border-bottom:1px solid #fff;
  
}
.accordion-button:focus {
  z-index: 3; 
  border-color: #86b7fe;
  outline: 0; 
  box-shadow:none;
}
.accordion-button {
   position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
  font-size: 20px;
  color: #fff;
  text-align: left;
  background-color: #7743e0;;
  border:1px solid #001d38;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.accordion-body{
  background:#001d38;
  color:#fff;
  font-size:16px;
}
.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #7743e0;
  color:#fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.footer-project{
  padding-top:90px;
  color:#fff;
  text-align:center;
}

.footer-flex{
  display:flex;
  justify-content: space-between;
  padding-bottom:50px;
  border-bottom:1px solid #fff;
  padding-top:60px;
}
.footer-part h2{
  color:#fff;
}
.footer-part ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
 

}
.footer-part ul li{
  color:#fff;
  line-height:40px;
  font-size:27px;
}
.footer-part ul li a{
  color:#fff;
  text-decoration: none;
  font-size:27px;
  margin-left:0;
  margin-left:10px;
}
.copy-right p{
  color:#fff;
  text-align:center;
  font-size:30px;
  padding:20px 0;

}
.social-link {
  margin:0;
  padding:0;
  
}
.social-link a {
  color: #7743e0;
  font-size: 60px;
  padding: 0px 5px;
}
.social-link a:hover {
  color: aqua;
}

/* ==== footer section End here === */





/* =============== Blog Page Starts Here ======================  */
.blog{
  display:flex;
  justify-content: space-between;
  margin-top:60px;
}
.blog-right{
  flex-basis: 65%;
}
.blog-left{
  flex-basis:25%;
}
.blog-right{
  padding:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blog-img-1{
  padding-bottom:40px;
  border-bottom:2px solid #001d38;
  padding-top:40px;
}
.blog-right h2{
  
  font-size:40px;
  text-decoration: underline;
}
.blog-left h2{
  margin-bottom:30px;
  font-size:40px;
  text-decoration: underline;
}
.blog-right .blog-img-1 h6{
  font-size:27px;
  font-family: 'Poppins', sans-serif;
  padding-top:20px;
}
.blog-right .blog-img-1 span{
  margin-left:10px;
  margin-right:50px;
  font-weight:600;
  font-family: 'Poppins', sans-serif;
}
.blog-img-1 p{
  font-size:20px;
}
.blog-button{
  padding:10px 20px;
  border:2px solid #7743e0;
  font-weight:600;
}
.blog-button:hover{
  background:#7743e0;
  color:#fff;
}

.blog-right .blog-img-1 img{
  width:100%;
  height:auto;
}
.blog-left img{
  width:100%;
  height:auto;
}
.blog-left-1{
  padding:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog-left-2{
  margin-top:40px;
  padding:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog-left-2 h4{
  padding-bottom:20px;
  border-bottom:1px solid #ddd;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top:30px;
}

.search-term {
  width: 100%;
  border: 3px solid #7743e0;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #fff;
  height:45px;
}

.search-button {
  width: 40px;
  height: 45px;
  border: 1px solid #7743e0;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.blog-button-text{
  margin-top:30px;
  width:100%;
  padding:15px;
  text-align:center;
  font-size:27px;
  border-radius:5px;
}
.blog-button-text:hover{
  background:#001d38;
  color:#fff;
}
.blog-recent-post{
  margin-top:30px;

}
.blog-recent-img{
  display:flex;
  padding-top:30px;
  padding-bottom:30px;
}
.blog-recent-img-right img{
  weight:100px;
  height:100px;
}
.blog-recent-text-left{
  padding-left:20px;
  padding-top:10px;
}
.blog-recent-text-left p{
  font-size:20px;
}
.blog-recent-text-left span{
  font-size:15px;
  color:#4E4E4E;
}
.blog-Instagram{
  margin-top:90px;
  padding:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog-Instagram h4{
  padding-bottom:20px;
  border-bottom:1px solid #ddd;
}
.instgram-img{
  padding-top:20px;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap:10px;
}